@import "~stylus/variable.styl";
@import "~stylus/mixin.styl";

.module-one
  .module-title
    .line-dom
      &.l-line
        text-align: center
      &.r-line
        text-align: center
    h2
      wh(200px, 42px)
      margin:0 auto
      sc($font-large-x, $white)