<!doctype html>
<html lang="en">
<head>
    <%= require('html-loader!./../layout/head.html') %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<!-- topNav start -->
<%= require('html-loader!./../layout/topNav.html') %>
<!-- topNav end -->


<!-- header start -->
<%= require('html-loader!./../layout/header.html') %>
<!-- header end -->

<!-- main start -->
<div class="main g-mt120">
    <div class="w990" style="height: 1500px">
        <%= require('html-loader!./../layout/step_bar.html') %>

        <%= require('html-loader!./main_con.html') %>
    </div>

    <%= require('html-loader!./settle_bar.html') %>
</div>
<!-- main end -->

<!-- topNav start -->
<%= require('html-loader!./../layout/footer.html') %>
<!-- topNav start -->

<!-- topNav start -->
<%= require('html-loader!./../layout/rightNav.html') %>
<!-- topNav start -->
</body>
</html>