<div class="main-con g-mt20">
    <table class="cart-table">
        <thead>
            <tr>
                <td class="width75">
                    <i class="checkbox"></i>
                    <span>全选</span>
                </td>
                <td class="width330">
                    <span>商品信息</span>
                </td>
                <td class="width110">
                    <span>规格</span>
                </td>
                <td class="width110">
                    <span>单价</span>
                </td>
                <td class="width110">
                    <span>数量</span>
                </td>
                <td class="width145">
                    <span>小计</span>
                </td>
                <td class="width110">
                    <span>操作</span>
                </td>
            </tr>
        </thead>

        <tbody class="nothing active">
            <!--<tr>-->
                <!--<td colspan="8">你还没有添加商品到购物车</td>-->
            <!--</tr>-->
        </tbody>

        <tbody class="carts-list">
            <tr>
                <td class="width75 select">
                    <span>
                        <input type="checkbox" class="checkbox" />
                    </span>
                </td>
                <td class="width75 pro-pic">
                   <span>
                        <a href="#" class="link-wrap">
                            <img src="./../../image/dot.jpg" alt="..." />
                        </a>
                    </span>
                </td>
                <td class="width255 pro-info">
                    <span>
                       商品信息，商品信息，商品信息，商品信息，商品信息，商品信息，商品信息
                   </span>
                </td>
                <td class="width110 type">
                    <span>类型</span>
                </td>
                <td class="width110 single-price">
                    <span class="current-price">
                        $<em class="price">399.00</em>
                    </span>

                    <span class="discount-price">
                        $<em class="price">399.00</em>
                    </span>
                </td>
                <td class="width110 num">
                    <span>
                        <button class="reduce gradient">-</button>
                        <input type="text" class="display-num" maxlength="2" />
                        <button class="add gradient">+</button>
                    </span>
                </td>
                <td class="width145 count-price">
                    <span>
                        $<em class="price">50099.00</em>
                    </span>
                </td>
                <td class="width110 handle">
                    <a href="#" class="link">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>