<!doctype html>
<html lang="en">
<head>
    <%= require('html-loader!./../layout/head.html') %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<!-- topNav start -->
<%= require('html-loader!./../layout/topNav.html') %>
<!-- topNav end -->


<!-- header start -->
<%= require('html-loader!./../layout/header.html') %>
<!-- header end -->

<!-- main start -->
<div class="main g-mt80">
    <div class="w990">
        <%= require('html-loader!./main_con.html') %>
    </div>
</div>
<!-- main end -->

<!-- footer start -->
<%= require('html-loader!./../layout/footer.html') %>
<!-- footer end -->

<!-- alertBox start -->
<%= require('html-loader!./../layout/alertBox.html') %>
<!-- alertBox start -->

</body>
</html>