<div class="main-top" style="height: 500px">
    <div class="main-top-wrap clearfix">
        <div class="fl pic-show">
            <div class="big-list">
                <ul class="big-list-wrap">
                    <li class="active">
                        <img src="./../../image/dot.jpg" alt="..." />
                    </li>

                    <li>
                        <img src="./../../image/dot.jpg" alt="..." />
                    </li>

                    <li>
                        <img src="./../../image/dot.jpg" alt="..." />
                    </li>

                    <li>
                        <img src="./../../image/dot.jpg" alt="..." />
                    </li>

                    <li>
                        <img src="./../../image/dot.jpg" alt="..." />
                    </li>
                </ul>
            </div>

            <div class="small-list">
                <ul class="clearfix small-list-wrap">
                    <li class="active">
                        <img src="./../../image/dot.jpg" alt="... " />
                    </li>

                    <li>
                        <img src="./../../image/dot.jpg" alt="... " />
                    </li>

                    <li>
                        <img src="./../../image/dot.jpg" alt="... " />
                    </li>

                    <li>
                        <img src="./../../image/dot.jpg" alt="... " />
                    </li>

                    <li>
                        <img src="./../../image/dot.jpg" alt="... " />
                    </li>
                </ul>

                <button class="prev fa fa-angle-left"></button>
                <button class="next fa fa-angle-right"></button>
            </div>

            <div class="right-line"></div>
        </div>

        <div class="parame-show">

           <div class="head">
               <div class="title">
                   <h3>某某药剂title</h3>
               </div>

               <div class="subtitle">
                   <h4><span>某某药剂subtitle</span> <span>某某药剂subtitle</span> <span>某某药剂subtitle</span></h4>
               </div>
           </div>

            <div class="body">
                <div class="parame">
                    <ul class="parame-wrap">
                        <li class="parame-item">
                            <span class="parame-title">商品编码：</span>
                            <span class="parame-text">ARHM035-4-10</span>
                        </li>

                        <li class="parame-item origin-price">
                            <span class="parame-title">商品编码：</span>
                            <span class="parame-text">$<em class="price">499.00</em></span>
                        </li>

                        <li class="parame-item current-price">
                            <span class="parame-title">商品编码：</span>
                            <span class="parame-text">$<em class="price">399.00</em></span>
                        </li>

                        <li class="parame-item discount-price">
                            <span class="parame-title">商品编码：</span>
                            <span class="parame-text">省$<em class="price">100.00</em></span>
                        </li>
                    </ul>
                </div>

                <div class="select-num">
                    <span>我 要 买</span>
                    <div class="input-box">
                        <button class="reduce gradient">-</button>
                        <input type="text" class="display-num" value="1" readonly maxlength="2" />
                        <button class="add gradient">+</button>
                    </div>
                </div>
            </div>

            <div class="foot">
                <div class="btn-wrap">
                    <a href="#" class="btn btn-big go-buy">
                        <i class="fa fa-shopping-cart"></i>
                        <span>立即购买</span>
                    </a>

                    <a href="#" class="btn btn-big join-cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>加入购物车</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>