<div class="main-con">
    <div class="menu">
        <ul class="clearfix">
            <li class="active">
                <a href="#" class="link-wrap">
                    商品描述
                </a>
            </li>

            <li>
                <a href="#" class="link-wrap">
                    商品评论(<em class="count">22</em>)
                </a>
            </li>

            <li>
                <a href="#" class="link-wrap">
                    购买须知
                </a>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="pro-des active">
            <div class="pro-base">
                <ul class="clearfix pro-base-wrap">
                    <li class="item">
                        <span class="title">药剂功能</span>
                        <span class="text">
                        治疗感冒
                    </span>
                    </li>

                    <li class="item">
                        <span class="title">药剂功能</span>
                        <span class="text">
                        治疗感冒
                    </span>
                    </li>

                    <li class="item">
                        <span class="title">药剂功能</span>
                        <span class="text">
                        治疗感冒
                    </span>
                    </li>

                    <li class="item">
                        <span class="title">药剂功能</span>
                        <span class="text">
                        治疗感冒
                    </span>
                    </li>
                </ul>
            </div>

            <div class="section describe">
                <div class="title">
                    <i class="bg-line bg-line-l"></i>
                    <span class="text">
                        商品描述
                    </span>
                    <i class="bg-line bg-line-r"></i>
                </div>

                <div class="describe-con">
                    <p class="text">采用一体织材质，如第二层肌肤般贴合足部，舒适透气。EVA结合橡胶，采用一体织材质，如第二层肌肤般贴合足部，舒适透气。EVA结合橡胶</p>
                    <p class="text">采用一体织材质，如第二层肌肤般贴合足部，舒适透气。EVA结合橡胶，采用一体织材质，如第二层肌肤般贴合足部，舒适透气。EVA结合橡胶</p>
                </div>
            </div>

            <div class="section pro-show">
                <div class="title">
                    <i class="bg-line bg-line-l"></i>
                    <span class="text">
                        产品展示
                    </span>
                    <i class="bg-line bg-line-r"></i>
                </div>

                <div class="pro-show-con">
                    <img src="./../../image/dot.jpg" alt="..." />
                </div>
            </div>
        </div>

        <div class="comment">
            <div class="comment-menu">
                <ul class="clearfix comment-menu-wrap">
                    <li class="active">
                        <label>
                            <input type="radio" name="type" checked="true" />
                            全部评论(<em>999+</em>)
                        </label>
                    </li>

                    <li>
                        <label>
                            <input type="radio" name="type" />
                            追加评论(<em>999+</em>)
                        </label>
                    </li>

                    <li>
                        <label>
                            <input type="radio" name="type" />
                            差评(<em>999+</em>)
                        </label>
                    </li>
                </ul>
            </div>

            <div class="comment-con">
                <div class="comment-con-item">
                    <div class="user-name">
                        <p class="text">很长很长的Id</p>
                    </div>

                    <div class="comment-con-con">
                        <div class="top">
                            <span class="title">首次评论</span>
                            <span class="text">挺好的 比预期的效果更好！加油</span>
                        </div>

                        <div class="type">
                            <p class="type-item">
                                <span class="title">类型：</span>
                                <span class="text">标准</span>
                            </p>

                            <p class="type-item">
                                <span class="title">类型：</span>
                                <span class="text">标准</span>
                            </p>

                            <p class="type-item">
                                <span class="title">类型：</span>
                                <span class="text">标准</span>
                            </p>

                            <p class="date type-item">2018-12-12</p>

                            <p class="handle type-item">
                                <span class="send">
                                    <i class="fa fa-address-book"></i>
                                    <em class="num">99</em>
                                </span>

                                <span class="like">
                                    <i class="fa fa-lock"></i>
                                    <em class="num">10</em>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buy-know">
            购买需要知道的事情
        </div>
    </div>
</div>