@import "~stylus/variable.styl";
@import "~stylus/mixin.styl";

.width110
  width: 110px
.width145
  width: 145px
.width75
  width: 75px
.width330
  width: 330px
.width255
  width: 255px
.width500
  width: 500px

.main-con
  .cart-table
    display: block
    width: 100%
    thead
      display: block
      width: 100%
      hh(42px)
      border-bottom: 1px solid #ccc
      td
        text-align: center
        font-size: $font-small-x
        i
          position: relative
          top: 1px
          display: inline-block
          vertical-align: middle
          wh(12px, 12px)
          margin-right: 5px
          border:1px solid #ccc
        span
          vertical-align: middle
    tbody
      &.nothing
        tr
          height: 210px
          text-align: center
          sc($font-small-x, $vice-color)
          font-weight: bold
      &.carts-list
        td.select
          font-size: 0
          text-align: center
          input.checkbox
            wh(15px, 15px)
        td.pro-pic
          img
            margin: 15px auto
            wh(50px, 50px)
            border: 1px solid #ccc
        td.pro-info
          padding:0 10px
          line-height: 14px
          color: #888
        td.type
          text-align: center
          color: #555
        td.single-price
          text-align: center
          em.price
            margin-left: 3px
          span
            display: block
            &.current-price
              color: $back
            &.discount-price
              color: #999
              text-decoration: line-through
        td.num
          text-align: center
          font-size: 0
          button
            display: inline-block
            wh(30px, 30px)
            border: 1px solid #ccc
            font-size: $font-small
            cursor: pointer
          .display-num
            display: inline-block
            wh(22px, 28px)
            padding:0 4px
            border-top: 1px solid #ccc
            border-bottom: 1px solid #ccc
            font-size: $font-small
            text-align: center
        td.count-price
          text-align: center
          sc($font-small-x, $vice-color)
          font-weight: bold
          em.price
            margin-left: 3px
        td.handle
          text-align: center
    td
      vertical-align: middle