<div class="product-list">
    <ul class="clearfix product-list-wrap">
        <li class='pro-item'>
            <div class='pro-wrap pro-pic'>
                <a href="#" class="link-wrap">
                    <img src="/src/image/dot.jpg" alt="商品图片" />
                </a>
            </div>

            <div class='pro-info pro-wrap'>
                <p class='pro-price'>$<em>4899.00</em>元</p>
                <p class='pro-subtitle'><a href="#" target="_blank">商品的标题描述，商品的标题描述，商品的标题描述，商品的标题描述，商品的标题描述</a></p>
                <p class='comment'>已有<a href="#" target="_blank">1222</a>评价</p>
            </div>

            <div class='pro-bottom'>
                <p class='btn-wrap'>
                    <a href="#" target="_blank" class='join-cart'>加入购物车</a>
                    <a href="#" target="_blank" class='go-buy'>立即购买</a>
                    <i></i>
                </p>
            </div>
        </li>
    </ul>
</div>