$color-background = #222
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)


// global
$main-color = #dde9df
$vice-color = #ee2737
$white = #fbfbfb
$back = #313131
$vice-back = #5e5e5e
$pro_title = #000
$pro_subtitle = #aaa
$model_title = #000
$model_subtitle = #aaa

// topNav
$topNav-bg = #fff

// header
$header-bg = #000

// rightNav
$rightNav-bg = #000

// slider
$slider-bg = #91fc9e

// part_one
$part_one-bg = #f0f0f0

// footer
$footer-color = #808080
$footer-bg = #000

$link-color = #313131
$link-hover-color = #e80012

$btn-bg = #eee
$btn-color = #e56639

$font-small = 12px
$font-small-x = 14px
$font-medium = 16px
$font-medium-x = 18px
$font-large = 20px
$font-large-x = 22px