@import "~stylus/variable.styl";
@import "~stylus/mixin.styl";

.footer
  background: $footer-bg
  color: $footer-color
  .foot_nav
    width: 75%
    padding: 50px 0px
    dl
      float: left;
      width: 14%
      padding-right: 2%
      dt
        margin-bottom:10px
        sc($font-medium, #ccc)
      a
        display: block
        margin-top: 5px
        sc($font-small, $footer-color)
        line-height: 24px
        &:hover
          text-decoration : underline
  .conact
    rtposition(30px, 50px)
    text-align: right
    width: 20%
    .phone
      margin-bottom: 10px
      sc($font-large-x, #207dab)
      font-weight bold
    .work_date
      font-size: $font-small
      line-height: 18px
