@import "~stylus/variable.styl";
@import "~stylus/mixin.styl";

.current-bar
  line-height:20px
  overflow: hidden
  font-size: $font-small-x
  a
    color: $back
  i.fa
    padding:0 5px
    color: #ccc