@import "~stylus/variable.styl";
@import "~stylus/mixin.styl";

.handle-bar
  .handle-bar-wrap
    position: relative
    hh(40px)
    background-color: #eee
    .handle-barl
      font-size: 0
      .screen-sort
        width: 85px
        text-align: center
        font-size: $font-small
      .screen-title-list
        padding:0 10px
        .item
          display: inline-block
          width: 65px
          font-size: $font-small
          text-align: center
          i.fa
            margin-left: 3px
          &:hover
            color: $white
            background-color: $vice-color
      .price-sreach
        padding:0 10px
        font-size: $font-small
        em
          margin: 0 10px
        input
          wh(40px, 20px)
          vertical-align: middle
          padding:0 5px
          border: 1px solid #ccc
          outline: $vice-color solid 1px
          br(2px)
          &.sreach-btn
            wh(40px, 22px)
            margin-left: 5px
            background-color: $vice-color
            cursor: pointer
            color: $white
            line-height: 20px
    .handle-barr
      rtposition(10px, 0)
      em
        margin:0 3px
      .fa
        padding: 5px 5px 5px 10px
        transform: scale(1.5)