<div class="alert-box" id="default-alert">
    <i class="fa fa-close"></i>
    <div class="alert-box-wrap">
        <h6>
            错误信息标题
        </h6>
        <div class="content">
            <div class="pic-wrap">
                <a href="#" class="link-wrap">
                    <img src="./../../image/error.jpg" alt="..." />
                </a>
            </div>

            <div class="pro-info">
                <p class="test g-mt15">
                    错误的描述，
                    错误的描述，
                    错误的描述，
                    错误的描述，
                    错误的描述,
                    错误的描述，
                    错误的描述，
                    错误的描述，
                    错误的描述，
                    错误的描述
                    错误的描述，
                    错误的描述，
                    错误的描述，
                    错误的描述，
                    错误的描述错误的描述，
                    错误的描述，
                    错误的描述，
                    错误的描述，
                    错误的描述
                </p>
                <p class="btn-wrap">
                    <a href="#" class="btn continue">关闭</a>
                </p>
            </div>
        </div>
    </div>
</div>