<div class='footer'>
    <div class="w990 clearfix">
        <div class='foot_nav fl clearfix'>
            <dl>
                <dt>title</dt>
                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>

                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>

                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>
            </dl>

            <dl>
                <dt>title</dt>
                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>

                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>

                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>
            </dl>

            <dl>
                <dt>title</dt>
                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>

                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>

                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>
            </dl>

            <dl>
                <dt>title</dt>
                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>

                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>


            </dl>

            <dl>
                <dt>title</dt>
                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>

                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>
            </dl>

            <dl>
                <dt>title</dt>
                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>

                <dd>
                    <a href="#" target="_blank">subtitle</a>
                </dd>
            </dl>
        </div>

        <div class='conact fr'>
            <p class='phone'>400-999-3333</p>
            <p class='work_date'>周一至周五 9:00-21:00</p>
            <p class='work_date'>周六至周日 9:00-18:00</p>
        </div>
    </div>
</div>