<div class="handle-bar g-mt20">
    <div class="handle-bar-wrap">
        <div class="handle-barl">
            <div class="screen-sort dib">
                排序：
            </div>

            <div class="screen-title-list dib">
                <div class="item">
                    <a href="#" class="link-wrap">
                        新品
                        <i class="fa fa-angle-double-down"></i>
                    </a>
                </div>

                <div class="item">
                    <a href="#" class="link-wrap">
                        新品
                        <i class="fa fa-angle-double-down"></i>
                    </a>
                </div>

                <div class="item">
                    <a href="#" class="link-wrap">
                        新品
                        <i class="fa fa-angle-double-down"></i>
                    </a>
                </div>
            </div>

            <div class="price-sreach dib">
                <input type="text" class="price1" />
                <em>-</em>
                <input type="text" class="price2" />
                <input type="button" class="sreach-btn" value="确定" />
            </div>
        </div>

        <div class="handle-barr">
            <span>1</span>
            <em>/</em>
            <span>29</span>
            <a href="#" class="fa fa-caret-right"></a>
        </div>
    </div>
</div>