<div class='header'>
   <div class="header-wrap clearfix">
       <div class="header-l">
            <div class="menu">
                <ul class="clearfix">
                    <li class="logo">
                        <a href="#">
                            logo
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            所有分类
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            最热药剂
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            最新药剂
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            公司简介
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            公司新闻
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            给我留言
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            联系我们
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>
                </ul>
            </div>

           <div class="down_box">

           </div>
        </div>

       <div class='header-r'>
           <form action="#" method="post" class="sreach-bar">
               <input type="text" name="keyword"  class="key-word"/>
               <input type="submit" value="" class="submit"/>
           </form>
       </div>
   </div>
</div>