<div class="right-nav">
	<div class="right-nav-wrap">
        <div class="l-menu">
            <ul class="clearfix">
                <li class="ico-down">
                    <a href="#" class="link-wrap">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </li>

                <li class="normal">
                    <a href="#" class="link-wrap">
                        <i class="sb-bg">&nbsp;</i>
                        <p class="text">
                            我的医疗
                        </p>
                    </a>

                    <div class="user-box">
                        <div class="top">
                            <h6>用户信息</h6>
                            <div class="user-main">
                                <div class="fl avatar">
                                    <img src="./../../image/dot.jpg" alt="..." />
                                    <a href="#" class="gradient">修改资料</a>
                                </div>

                                <div class="user-info">
                                    <p class="user-name g-mt5">用户名称</p>
                                    <span>普通会员</span>

                                    <p class="line active g-mt40"><a href="#" class="link-wrap">手机已验证</a></p>
                                    <p class="line"><a href="#" class="link-wrap">邮箱未验证</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="top g-mt20">
                            <h6>最近交易 <a href="#" class="more link">more</a></h6>
                            <div class="lately y">
                                <div class="nothing">
                                    空空如也<a href="#" class="link">去登陆</a>
                                </div>

                                <div class="list">
                                    <table class="pro-table">
                                        <thead>
                                            <tr>
                                                <td class="width110">商品名称</td>
                                                <td class="width75">状态</td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#" class="link-wrap">
                                                        <img src="./../../image/dot.jpg" alt="..." />
                                                        <p class="pro-name">商品名称</p>
                                                    </a>
                                                </td>

                                                <td>
                                                    <span>交易中</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="right-cart">
                    <a href="#" class="link-wrap">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="num">
                            20
                        </i>
                        <p class="text">
                            购物车
                        </p>
                    </a>
                </li>

                <li class="normal">
                    <a href="#" class="link-wrap">
                        <i class="fa fa-eye"></i>
                        <p class="text">
                            最近浏览
                        </p>
                    </a>
                </li>

                <li class="normal server">
                    <a href="#" class="link-wrap">
                        <i class="fa fa-user-secret"></i>
                        <p class="text">
                            客服
                        </p>
                    </a>
                </li>

                <li class="to-up transiti">
                    <a href="#" class="link-wrap">
                        <i class="fa fa-arrow-up"></i>
                        <p>
                            回到顶部
                        </p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="cart-slide">
            <i class="fa fa-close"></i>
            <div class="cart-slide-head g-mt40">
                <h5>购物车</h5>
                <div class="handle g-mt20">
                    <p class="select-all">
                        <input type="checkbox"  class="checkbox" />
                        <span>全选</span>
                    </p>

                    <button class="more-btn">查看更多+</button>
                </div>
            </div>

            <div class="cart-slide-body">
                <table class="table">
                    <tr>
                        <td class="input">
                            <input type="checkbox" class="checkbox" />
                        </td>
                        <td class="pic">
                            <a href="#" class="link-wrap">
                                <img src="/src/image/dot.jpg" alt="..." />
                            </a>
                        </td>
                        <td class="type">
                            类型一
                        </td>
                        <td class="num">
                            num
                        </td>
                        <td class="price">
                            ￥155.00
                        </td>
                    </tr>
                </table>
            </div>

            <div class="cart-slide-foot">
                <p class="count">
                    已经选择<em>11</em>件商品
                    <span class="count-price">
                        ￥<em>0.00</em>
                    </span>
                </p>

                <p class="settle g-mt10">
                    <a href="#" class="link-wrap">
                        结算
                        <i class="fa fa-rotate-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>