<div class="side">
    <div class="side-wrap">
        <div class="classify">
            <h3 class="side-title">
                <a href="#" class="link-wrap">查看所有分类</a>
            </h3>
            <div class="class-list">
                <h4 class="side-subtitle">药剂1</h4>
                <div class="subclass-list">
                    <a href="#" class="link">药剂A</a>
                    <a href="#" class="link">药剂B</a>
                    <a href="#" class="link">药剂C</a>
                    <a href="#" class="link">药剂D</a>
                    <a href="#" class="link">药剂E</a>
                    <a href="#" class="link">药剂F</a>
                    <a href="#" class="link">药剂G</a>
                </div>
            </div>
        </div>

        <div class="firend-link">
            <h3 class="side-title">
                <a href="#" class="link-wrap">推广厂商</a>
            </h3>
            <div class="subclass-list">
                <a href="#" class="link">友情A</a>
                <a href="#" class="link">友情B</a>
                <a href="#" class="link">友情C</a>
                <a href="#" class="link">友情D</a>
                <a href="#" class="link">友情E</a>
                <a href="#" class="link">友情F</a>
                <a href="#" class="link">友情G</a>
            </div>
        </div>
    </div>
</div>