<div class='top-nav'>
    <div class='top-nav-wrap clearfix'>
        <div class="top-l">
            <div class="logo-text">
                <span>YILIAO</span>
                <span>某某医疗</span>
            </div>

            <div class='l-and-r'>
                <a href="#">登陆</a>
                <a href="#">注册</a>
            </div>

            <div class="top-nav-cart">
                <i class="fa fa-shopping-cart"></i>
                <span>(<em class="num">10</em>)</span>
            </div>
        </div>

        <div class="top-r">
            <a href="#">消息</a>
            <em>|</em>
            <a href="#">我的医疗</a>
            <em>|</em>
            <a href="#">会员俱乐部</a>
        </div>
    </div>
</div>