<div class="module-one g-mt20">
    <div class="module-title">
        <i class="line-dom l-line">
            <span class="dot-dom"></span>
        </i>

        <h2>
            产品中心
        </h2>

        <i class="line-dom r-line">
            <span class="dot-dom"></span>
        </i>
    </div>

    <div class="content g-mt30">
        <div class="l-menu">
            <ul class="l-menu-wrap">
                <li class="active">
                    <a href="#">
                        药剂药剂药剂药剂药剂药剂
                    </a>
                </li>

                <li class="">
                    <a href="#">
                        药剂B
                    </a>
                </li>

                <li class="last">
                    <a href="#">
                        药剂C
                    </a>
                </li>
            </ul>
        </div>

        <div class="pro-list">
            <ul class="pro-list-wrap">
                <li class="pro-item border-bottom">
                    <a href="#" class="link-wrap">
                        <div class="pic-wrap">
                            <img src="./../../image/dot.jpg" alt="..." />
                        </div>

                        <div class="info-wrap">
                            <p class=" price">￥<em    >799.00</em></p>
                            <p class=" text">￥<em class="price">799.00</em></p>
                            <p class="buy-click transiti">
                                点击购买
                                <i class="fa fa-angle-down"></i>
                            </p>
                        </div>
                    </a>
                </li>

                <li class="pro-item border-bottom"">
                    <a href="#" class="link-wrap">
                        <div class="pic-wrap">
                            <img src="./../../image/dot.jpg" alt="..." />
                        </div>

                        <div class="info-wrap">
                            <p class=" price">￥<em>79asdasdasdadsaasdasd9.00</em></p>
                            <p class=" text">￥<em class="price">799.00</em></p>
                            <p class="buy-click">
                                点击购买
                                <i class="fa fa-angle-down"></i>
                            </p>
                        </div>
                    </a>
                </li>

                <li class="pro-item border-bottom"">
                    <a href="#" class="link-wrap">
                        <div class="pic-wrap">
                            <img src="./../../image/dot.jpg" alt="..." />
                        </div>

                        <div class="info-wrap">
                            <p class=" price">￥<em>799.00</em></p>
                            <p class=" text">￥<em class="price">799.00</em></p>
                            <p class="buy-click">
                                点击购买
                                <i class="fa fa-angle-down"></i>
                            </p>
                        </div>
                    </a>
                </li>

                <li class="pro-item border-bottom"">
                    <a href="#" class="link-wrap">
                        <div class="pic-wrap">
                            <img src="./../../image/dot.jpg" alt="..." />
                        </div>

                        <div class="info-wrap">
                            <p class=" price">￥<em>799.00</em></p>
                            <p class=" text">￥<em class="price">799.00</em></p>
                            <p class="buy-click">
                                点击购买
                                <i class="fa fa-angle-down"></i>
                            </p>
                        </div>
                    </a>
                </li>

                <li class="pro-item">
                    <a href="#" class="link-wrap">
                        <div class="pic-wrap">
                            <img src="./../../image/dot.jpg" alt="..." />
                        </div>

                        <div class="info-wrap">
                            <p class=" price">￥<em>799.00</em></p>
                            <p class=" text">￥<em class="price">799.00</em></p>
                            <p class="buy-click">
                                点击购买
                                <i class="fa fa-angle-down"></i>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>