<div class="module-three g-mt20">
    <div class="module-title">
        <i class="line-dom l-line">
            <span class="dot-dom"></span>
        </i>

        <h2>
            联系我们
        </h2>

        <i class="line-dom r-line">
            <span class="dot-dom"></span>
        </i>
    </div>

    <div class="content mt-10">
        <div class="concat">
            <div class="line-item">
                <p class="line-text-hover"><i class="fa fa-user-circle-o"></i><span>联系人：</span></p>
                <p class="text"><span>李章莹</span><span>男士</span></p>
            </div>

            <div class="line-item">
                <p class="line-text-hover"><i class="fa fa-user-circle-o"></i><span>固定电话：</span></p>
                <p class="text"><span>0731-4375386</span></p>
            </div>

            <div class="line-item">
                <p class="line-text-hover"><i class="fa fa-user-circle-o"></i><span>手机：</span></p>
                <p class="text"><span>13017183793</span></p>
            </div>

            <div class="line-item">
                <p class="line-text-hover"><i class="fa fa-user-circle-o"></i><span>传真：</span></p>
                <p class="text"><span>0731-4365405</span></p>
            </div>

            <div class="line-item">
                <p class="line-text-hover"><i class="fa fa-user-circle-o"></i><span>地址：</span></p>
                <p class="text"><span>茂名职业技术学院,茂名职业技术学院,茂名职业技术学院茂名职业技术学院茂名职业技术学院</span></p>
            </div>

            <div class="line-item">
                <p class="line-text-hover"><i class="fa fa-user-circle-o"></i><span>邮编：</span></p>
                <p class="text"><span>515555</span></p>
            </div>

            <div class="line-item">
                <p class="line-text-hover"><i class="fa fa-user-circle-o"></i><span>官方地址：</span></p>
                <p class="text">
                    <a href="#" class="link">
                        www.baidu.com
                    </a>
                </p>
            </div>
        </div>

        <div class="send-us">
            <div class="send-us-wrap">
                <div class="line-item title">
                    <i class="line-bg l-line"></i>
                    <h3>给我留言</h3>
                    <i class="line-bg r-line"></i>
                </div>

                <div class="line-item">
                    <span class="title"><em>*</em>主题：</span>
                    <input type="text" />
                    <p class='error'>你的输入有误</p>
                </div>

                <div class="line-item textarea">
                    <span class="title">内容：</span>
                    <textarea>您好，我从天成医疗网上看到您的信息，很感兴趣</textarea>
                </div>

                <div class="line-item">
                    <span class="title"><em>*</em>公司名称：</span>
                    <input type="text" />
                </div>

                <div class="line-item">
                    <span class="title"><em>*</em>联系姓名：</span>
                    <input type="text" />
                </div>

                <div class="line-item">
                    <span class="title"><em>*</em>联系电话：</span>
                    <input type="text" />
                </div>

                <div class="line-item">
                    <span class="title"><em>*</em>联系电话：</span>
                    <input type="text" />
                </div>

                <div class="line-item code">
                    <span class="title"><em>*</em>联系电话：</span>
                    <input type="text" />
                    <img src="./../../image/dot.jpg" alt="..." />
                    <a href="#" class="link">
                        看不清楚<br />
                        换一张
                    </a>
                </div>

                <div class="line-item">
                    <a href="#" class="btn">
                        立即发布
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>