<div class="module-four g-mt20">
    <div class="module-title">
        <i class="line-dom l-line">
            <span class="dot-dom"></span>
        </i>

        <h2>
            新闻动态
        </h2>

        <i class="line-dom r-line">
            <span class="dot-dom"></span>
        </i>
    </div>

    <div class="content g-mt30">
        <div class="slider fl">
            <div class="pic-list">
                <ul class="pic-list-wrap">
                    <li class="pic-item active">
                        <a href="#" class="link-wrap">
                            <img src="./../../image/dot.jpg" alt="..." />
                        </a>
                    </li>

                    <li class="pic-item">
                        <a href="#" class="link-wrap">
                            <img src="./../../image/dot.jpg" alt="..." />
                        </a>
                    </li>

                    <li class="pic-item">
                        <a href="#" class="link-wrap">
                            <img src="./../../image/dot.jpg" alt="..." />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="dot-list">
                <span class="dot-item active"></span>
                <span class="dot-item"></span>
                <span class="dot-item"></span>
            </div>

            <div class="pic-des">
                <p class="pic-des-item active">
                    <a href="#" class="link">
                        图片新闻描述1
                    </a>
                </p>

                <p class="pic-des-item">
                    <a href="#" class="link">
                        图片新闻描述2
                    </a>
                </p>

                <p class="pic-des-item">
                    <a href="#" class="link">
                        图片新闻描述3
                    </a>
                </p>
            </div>
        </div>

        <div class="news">
            <div class="news-wrap">
                <div class="news-menu">
                    <ul class="news-menu-wrap">
                        <li class="news-menu-item active">
                            <a href="#" class="link-wrap">
                                新闻
                            </a>
                        </li>

                        <li class="news-menu-item">
                            <a href="#" class="link-wrap">
                                新闻
                            </a>
                        </li>

                        <li class="news-menu-item">
                            <a href="#" class="link-wrap">
                                新闻
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="news-con">
                    <ul class="news-con-wrap active">
                        <li class="news-item">
                            <a href="#" class="link news-bg">
                                最新新闻，最新新闻，最新新闻
                            </a>
                            <span class="date">208-12-12</span>
                        </li>

                        <li class="news-item">
                            <a href="#" class="link">
                                最新新闻，最新新闻，最新新闻，最新新闻, 最新新
                            </a>
                            <span class="date">208-12-12</span>
                        </li>

                        <li class="news-item">
                            <a href="#" class="link news-bg">
                                最新新闻，最新新闻，最新新闻，最新新闻, 最
                            </a>
                            <span class="date">208-12-12</span>
                        </li>

                        <li class="news-item">
                            <a href="#" class="link">
                                最新新闻，最新新闻，最新新闻，最新新闻, 最新新闻，
                            </a>
                            <span class="date">208-12-12</span>
                        </li>

                        <li class="news-item">
                            <a href="#" class="link">
                                最新新闻，最新新闻，最新新闻，最新新闻, 最新新闻，
                            </a>
                            <span class="date">208-12-12</span>
                        </li>

                        <li class="news-item">
                            <a href="#" class="link">
                                最新新闻，最新新闻，最新新闻，最新新闻, 最新新闻，
                            </a>
                            <span class="date">208-12-12</span>
                        </li>

                        <li class="news-item">
                            <a href="#" class="link">
                                最新新闻，最新新闻，最新新闻，最新新闻, 最新新闻，
                            </a>
                            <span class="date">208-12-12</span>
                        </li>
                    </ul>

                    <ul class="news-con-wrap">
                        <li class="news-item">
                            <a href="#" class="link">
                                最新新闻，最新新闻，最新新闻，最新新闻, 最新新闻，
                            </a>
                            <span class="date">208-12-12</span>
                        </li>

                        <li class="news-item">
                            <a href="#" class="link">
                                最新新闻，最新新闻，最新新闻，最新新闻, 最新新闻，
                            </a>
                            <span class="date">208-12-12</span>
                        </li>

                    </ul>

                    <ul class="news-con-wrap">
                        <li class="news-item">
                            <a href="#" class="link">
                                最新新闻，最新新闻，最新新闻，最新新闻, 最新新闻，
                            </a>
                            <span class="date">208-12-12</span>
                        </li>

                        <li class="news-item">
                            <a href="#" class="link">
                                最新新闻，最新新闻，最新新闻，最新新闻, 最新新闻，
                            </a>
                            <span class="date">208-12-12</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>