<div class="module-two g-mt20">
    <div class="module-title">
        <i class="line-dom l-line">
            <span class="dot-dom"></span>
        </i>

        <h2>
            公司简介
        </h2>

        <i class="line-dom r-line">
            <span class="dot-dom"></span>
        </i>
    </div>

    <div class="content">
        <div class="pic-list">
            <div class="polaroid">
                <div class="cover"></div>
                <img src="./../../image/1.png" alt="" />
                <p>可以使用键盘上的左右箭头进行旋转调整</p>
            </div>
            <div class="polaroid">
                <div class="cover"></div>
                <img src="./../../image/2.png" alt="" />
                <p>可以使用键盘上的左右箭头进行旋转调整</p>
            </div>
            <div class="polaroid">
                <div class="cover"></div>
                <img src="./../../image/3.png" alt="" />
                <p>可以使用键盘上的左右箭头进行旋转调整</p>
            </div>
            <div class="polaroid">
                <div class="cover"></div>
                <img src="./../../image/4.png" alt="" />
                <p>可以使用键盘上的左右箭头进行旋转调整</p>
            </div>
            <div class="polaroid">
                <div class="cover"></div>
                <img src="./../../image/5.png" alt="" />
                <p>可以使用键盘上的左右箭头进行旋转调整</p>
            </div>
            <div class="polaroid">
                <div class="cover"></div>
                <img src="./../../image/6.png" alt="" />
                <p>可以使用键盘上的左右箭头进行旋转调整</p>
            </div>
            <div class="polaroid">
                <div class="cover"></div>
                <img src="./../../image/7.png" alt="" />
                <p>可以使用键盘上的左右箭头进行旋转调整</p>
            </div>
            <div class="polaroid">
                <div class="cover"></div>
                <img src="./../../image/8.png" alt="" />
                <p>可以使用键盘上的左右箭头进行旋转调整</p>
            </div>
            <div class="polaroid">
                <div class="cover"></div>
                <img src="./../../image/9.png" alt="" />
                <p>可以使用键盘上的左右箭头进行旋转调整</p>
            </div>
            <div class="polaroid">
                <div class="cover"></div>
                <img src="./../../image/10.png" alt="" />
                <p>可以使用键盘上的左右箭头进行旋转调整</p>
            </div>
        </div>

        <div class="des-wrap">
            <p class="text">，公司简介，公司简介，公司简介，公司简介，公司简介，公司简介，公司简介</p>
            <p class="text">公司简介</p>
            <p class="text">公司简介</p>
            <p class="text">公司简介</p>
            <p class="text">公司简介，公司简介，公司简介，公司简介，公司简介</p>
            <p class="text">公司简介</p>
            <p class="text">公司简介</p>
        </div>
    </div>
</div>