<div class="search-news g-mt10">
    <div class="search">
        <form action="#" method="post" class="news-form">
            <div class="input">
                <input type="text" class="key-word-input" onkeydown="consoel.log(1)" />
                <input type="submit" value="搜索" class="submit" />
            </div>
            <span class="text">仅搜新闻</span>
        </form>

        <div class="search-hot">
            <span class="title">热门搜索</span>
            <span class="key-word">
                    <a href="#" class="link">关键词1</a>
                    <a href="#" class="link">关键词2</a>
                </span>
        </div>

        <i class="box-bg top"></i>
        <i class="box-bg bottom"></i>
    </div>

    <div class="buy-step">
        <dl class="buy-step-wrap">
            <dt class="title"></dt>
            <dd class="item">
                <i class="fa fa-heart"></i>
                <span>挑选合适产品</span>
            </dd>
            <dd class="item">
                <i class="fa fa-cart-arrow-down"></i>
                <span>加入购物车结账</span>
            </dd>
            <dd class="item">
                <i class="fa fa-edit"></i>
                <span>填写订单</span>
            </dd>
            <dd class="item">
                <i class="fa fa-fighter-jet"></i>
                <span>等待收货</span>
            </dd>
        </dl>
    </div>
</div>